---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import Inventario from "../../components/inventario/inventario.astro";

---
<DashboardLayout title="Inventario">
  <h1>Bienvenido al módulo de Inventario</h1>
  <p>Gestiona tus productos y materiales aquí.</p>
  <br>
  <Inventario />
