---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import KardexTable from "../../components/Kardex/kardex.astro";

---

<DashboardLayout title="Kardex">
  <h1>Bienvenido al módulo de Kardex</h1>
  <br>
  <KardexTable />
