---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import { supabase } from "../../lib/supabase/SupabaseClient";
---
<DashboardLayout title="Caja">
    <h1>Bienvenido a la pagina de caja</h1>



